---
swagger: "2.0"
info:
  description: "Partner API for Coin Loft wholesale and retail partners."
  version: "1.0.0"
  title: "Coin Loft - Partner API"
  termsOfService: "https://www.coinloft.com.au/terms/"
  contact:
    email: "support@coinloft.com"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "api.coinloft.com"
basePath: "/v1"
tags:
- name: "info"
  description: "Information functions"
- name: "order"
  description: "Order related functions"
- name: "customer"
  description: "Customer related functions"
schemes:
- "http"
paths:
  /status:
    get:
      tags:
      - "info"
      summary: "Status of service"
      description: "Retrieve the status and health of the service"
      operationId: "getStatus"
      produces:
      - "application/json"
      parameters:
      - name: "AUTHENTICATION"
        in: "header"
        description: "HMAC Payload"
        required: true
        type: "string"
      responses:
        200:
          description: "Successful operation"
          schema:
            $ref: "#/definitions/inline_response_200"
        500:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/error"
  /rates:
    get:
      tags:
      - "info"
      summary: "Rates for available digital currencies"
      description: "Retrieve rates for available digital currencies"
      operationId: "getRates"
      produces:
      - "application/json"
      parameters:
      - name: "AUTHENTICATION"
        in: "header"
        description: "HMAC Payload"
        required: true
        type: "string"
      responses:
        200:
          description: "Successful operation"
          schema:
            $ref: "#/definitions/inline_response_200_1"
        500:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/error"
  /quote/{from}/{to}/{value}:
    get:
      tags:
      - "order"
      summary: "Quote for a specific value requested by fiat or digital currency"
      description: "Retrieve quote for specific value"
      operationId: "getQuote"
      produces:
      - "application/json"
      parameters:
      - name: "AUTHENTICATION"
        in: "header"
        description: "HMAC Payload"
        required: true
        type: "string"
      - name: "from"
        in: "path"
        description: "From currency code"
        required: true
        type: "string"
      - name: "to"
        in: "path"
        description: "To currency code"
        required: true
        type: "string"
      - name: "value"
        in: "path"
        description: "Value of from currency"
        required: true
        type: "number"
        format: "double"
      responses:
        200:
          description: "Successful operation"
          schema:
            $ref: "#/definitions/inline_response_200_2"
        400:
          description: "Invalid Request"
          schema:
            $ref: "#/definitions/error"
        500:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/error"
  /order:
    post:
      tags:
      - "order"
      summary: "Create order based on a previously requested Quote"
      description: "Create order based on quote"
      operationId: "order"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: "#/definitions/body"
      responses:
        200:
          description: "Successful operation"
          schema:
            $ref: "#/definitions/inline_response_200_3"
        400:
          description: "Invalid Request"
          schema:
            $ref: "#/definitions/error"
        500:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/error"
  /order/payment:
    post:
      tags:
      - "order"
      summary: "Set order to have payment received"
      description: "Set order to have payment received, this will allow the digital\
        \ currency to be fulfilled"
      operationId: "orderPayment"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: "#/definitions/body_1"
      responses:
        200:
          description: "Successful operation"
          schema:
            $ref: "#/definitions/inline_response_200_4"
        400:
          description: "Invalid Request"
          schema:
            $ref: "#/definitions/error"
        500:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/error"
  /order/{orderId}:
    get:
      tags:
      - "order"
      summary: "Get order based on ID"
      description: "Get an existing order baded on ID"
      operationId: "orderGet"
      produces:
      - "application/json"
      parameters:
      - name: "orderId"
        in: "path"
        description: "Order ID"
        required: true
        type: "string"
      responses:
        200:
          description: "Successful operation"
          schema:
            $ref: "#/definitions/inline_response_200_3"
        400:
          description: "Invalid Request"
          schema:
            $ref: "#/definitions/error"
        500:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/error"
  /uxdata:
    get:
      tags:
      - "info"
      summary: "Get User Interface data"
      description: "Get user interface data for customer applications"
      operationId: "uxdata"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "Successful operation"
          schema:
            $ref: "#/definitions/inline_response_200_5"
        400:
          description: "Invalid Request"
          schema:
            $ref: "#/definitions/error"
        500:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/error"
  /customer/validate:
    post:
      tags:
      - "customer"
      summary: "Validate a customer"
      description: "Validate a customer based on identity paramaters, customer will\
        \ be created if not in the system"
      operationId: "customerValidate"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "content"
        required: false
        schema:
          $ref: "#/definitions/content"
      responses:
        200:
          description: "Successful operation"
          schema:
            $ref: "#/definitions/inline_response_200_6"
        400:
          description: "Invalid Request"
          schema:
            $ref: "#/definitions/error"
        500:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/error"
definitions:
  error:
    type: "object"
    properties:
      code:
        type: "string"
        description: "Result code of operation, 0 is success"
      message:
        type: "string"
        description: "Result description of operation"
  AUD:
    type: "object"
    properties:
      AUD:
        $ref: "#/definitions/AUD_AUD"
  quote:
    type: "object"
    properties:
      id:
        type: "string"
        description: "Quote ID"
      AUD:
        $ref: "#/definitions/AUD"
  order:
    type: "object"
    properties:
      id:
        type: "string"
        description: "Order ID"
      type:
        type: "string"
        description: "Type of order"
      email:
        type: "string"
        description: "Customer's email address"
      mobile:
        type: "string"
        description: "Customer's mobile phone number"
      currency:
        type: "string"
        description: "Fiat currency code"
      currencyValue:
        type: "number"
        format: "float"
        description: "Value in fiat currency"
      coin:
        type: "string"
        description: "Digital currency code"
      coinValue:
        type: "number"
        format: "float"
        description: "Value in digital currency"
      walletAddress:
        type: "string"
        description: "Digital currency wallet address"
      fee:
        type: "number"
        format: "float"
        description: "Fee in fiat currency"
      commission:
        type: "number"
        format: "float"
        description: "Commission rate"
      status:
        type: "string"
        description: "Status of the order"
  customer:
    type: "object"
    properties:
      id:
        type: "string"
        description: "Customer ID"
      tier:
        type: "number"
        format: "integer"
        description: "Tier of customer 0 to 3,  Tiers provide different access and\
          \ limits in the system"
      identityVerified:
        type: "boolean"
        description: "Whether the customer has had their identity verified"
      mobile:
        type: "string"
        description: "Customer's mobile phone number"
      limits:
        $ref: "#/definitions/limits"
  limits:
    type: "object"
    properties:
      transMinValue:
        type: "number"
        format: "integer"
        description: "Transaciton minumum value"
      transMaxValue:
        type: "number"
        format: "integer"
        description: "Transaciton maximum value"
      dailyMaxValue:
        type: "number"
        format: "integer"
        description: "Daily maximum value"
      weeklyMaxValue:
        type: "number"
        format: "integer"
        description: "Weekly maximum value"
      4weeklyMaxValue:
        type: "number"
        format: "integer"
        description: "4 weekly maximum value"
  status:
    type: "object"
    properties:
      status:
        type: "string"
        description: "Status of the service, either OK, DELAYED or OFFLINE"
      comment:
        type: "string"
        description: "Descriptive representation of the status"
      avgFulfillmentTime:
        type: "number"
        format: "integer"
        description: "Average time for an order to be fulfilled and confirmed on the\
          \ BlockChain with 6 confirmations"
  inline_response_200:
    properties:
      code:
        type: "string"
        description: "Result code of operation, 0 is success"
      message:
        type: "string"
        description: "Result description of operation"
      status:
        $ref: "#/definitions/status"
  inline_response_200_1:
    properties:
      code:
        type: "string"
        description: "Result code of operation, 0 is success"
      message:
        type: "string"
        description: "Result description of operation"
      rates:
        $ref: "#/definitions/AUD"
  inline_response_200_2:
    properties:
      code:
        type: "string"
        description: "Result code of operation, 0 is success"
      message:
        type: "string"
        description: "Result description of operation"
      quote:
        $ref: "#/definitions/quote"
  body:
    type: "object"
    properties:
      quoteId:
        type: "string"
        description: "ID of the previously requested quote"
      customerRef:
        type: "string"
        description: "Customer reference - Partner's ID or reference for the Customer"
      customerEmail:
        type: "string"
        description: "Customer's email address"
      customerMobile:
        type: "string"
        description: "Customer's mobile phone number"
      walletAddress:
        type: "string"
        description: "Digital currency wallet address"
      customerIp:
        type: "string"
        description: "Customer's IP address"
      partnerData:
        type: "string"
        description: "Optional Partner data in JSON format"
  inline_response_200_3:
    properties:
      code:
        type: "string"
        description: "Result code of operation, 0 is success"
      message:
        type: "string"
        description: "Result description of operation"
      order:
        $ref: "#/definitions/order"
  body_1:
    type: "object"
    properties:
      orderId:
        type: "string"
        description: "ID of the order"
      partnerData:
        type: "string"
        description: "Optional Partner data in JSON format"
  inline_response_200_4:
    properties:
      code:
        type: "string"
        description: "Result code of operation, 0 is success"
      message:
        type: "string"
        description: "Result description of operation"
  inline_response_200_5:
    properties:
      code:
        type: "string"
        description: "Result code of operation, 0 is success"
      message:
        type: "string"
        description: "Result description of operation"
      labels:
        type: "object"
        description: "Label data for user interface"
        properties: {}
      errors:
        type: "object"
        description: "Error data for user interface"
        properties: {}
  content:
    type: "object"
    properties:
      mobile:
        type: "string"
        description: "Customer's mobile phone number"
      mobileOTP:
        type: "boolean"
        description: "Send a One Time Pin to the customer mobile phone"
      OTP:
        type: "string"
        description: "One Time Pin to be validated"
      partnerData:
        type: "string"
        description: "Optional Partner data in JSON format"
  inline_response_200_6:
    properties:
      code:
        type: "string"
        description: "Result code of operation, 0 is success"
      message:
        type: "string"
        description: "Result description of operation"
      customer:
        $ref: "#/definitions/customer"
  AUD_AUD:
    properties:
      BTC:
        type: "number"
        format: "float"
        description: "Value in digital currency"
      Commission:
        type: "number"
        format: "float"
        description: "Commission rate"
      Value:
        type: "number"
        format: "float"
        description: "Value in fiat currency"
      ValueExcFee:
        type: "number"
        format: "float"
        description: "Value in fiat currency, excluding fee (calculated @ commission)"
      Fee:
        type: "number"
        format: "float"
        description: "Fee in fiat currency"
      FeeExcTax:
        type: "number"
        format: "float"
        description: "Fee in fiat currency, excluding tax"
      FeeTax:
        type: "number"
        format: "float"
        description: "Fee tax"
